@media (min-width: 823px) {
    .text-image-layout {
        display: flex;
        flex-flow: row-reverse;
    }

    .left-text-box {
        width: 43%;
        flex-flow: column;
        justify-content: center;
        margin-top: 0;
    }
    .text-image-layout .double-ipad-column:first-child {
        justify-content: flex-start!important;
        width: 53%!important;
    } 

    .ipad-landscape {
        width: 57%;
        padding: 0 15px;
        display: flex;
        position: relative;
        padding-left: 30px;
    }
}

@media (max-width: 823px) {
    .ipad-landscape {
        padding: 0 15px;
        display: flex;
        justify-content: center;
        position: relative;
    }
}

.text-gradient-color {
    // background: linear-gradient(to right, #cc2b5e, #753a88);
    background: linear-gradient(45deg, #ff3c00 0%, #e40488 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



.left-text-box {
    position: relative;
    z-index: 4;
}

.icon-container {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.8rem;
}

.icon-container > i {
    color: white;
}