.ipad-groups-column {
    min-width: 40vw!important;
    padding: 0 17px!important;
    // display: flex;
    // position: relative;
}

.second-group-margin {
    margin-top: 0.3rem!important;
}
@media (max-width: 1024px) {
    .ipad-groups-column {
        min-width: 38vw!important;
        padding: 0 13px!important;
    }

    .second-group-margin {
        margin-top: 0rem!important;
    }

}

@media (max-width: 875px) {
    .ipad-groups-column {
        min-width: 50vw!important;
        padding: 0px 12px!important;
    }

    .second-group-margin {
        margin-top: 0rem!important;
    }
}

@media (max-width: 575.98px) {
    .ipad-groups-column {
        min-width: 75vw!important;
        padding: 0px 10px!important;
    }

    .second-group-margin {
        margin-top: 0rem!important;
    }
}

