
.c-double-ipad:last-child {
    margin-bottom: 0;
}

.c-double-ipad:first-child {
    margin-top: 0;
}

.c-double-ipad {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -15px;
}

.double-ipad-column {
    width: 43%;
    padding: 0 15px;
    display: flex;
    position: relative;
}

.double-ipad-column:first-child {
    justify-content: flex-end;
}

.landscape-left .double-ipad-column:first-child {
    width: 57%;
    z-index: 4;
}


.ipad-vertical {
    width: 68.8vw;
    max-width: 720px;
}

.ipad-vertical:before {
    background-image: url('../../images/ipad-verticle-new.png');
}

.ipad-vertical:after {
    background-image: url('../../images/ipad-shadow-vert.png');
}