@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
:root {
    --landscape-device-width: 90vw;
    --landscape-max-device-width: 936px;
    --portrait-device-width: 68.8vw;
    --portrait-max-device-width: 720px;
    --container-padding: 30px;
}
.desktop-view {
    display: block;
}

.phone-view {
    display: none;
}

@media (max-aspect-ratio: 4/3) {
    .phone-view {
        display: block;
    }

    .desktop-view {
        display: none!important;
    }

  }


@media (min-width: 600px) {
    .dual-ipads {
        margin: 80px -15px;
        margin: 80px -25px;
    }
    .landscape-left .double-ipad-column:first-child {
        position: relative;
        padding-top: 40px;    
    }
    .landscape-left .double-ipad-column:nth-child(2){
        display: block;
        height: 0;    
    }

    .c-double-ipad {
        display: flex;
        flex-wrap: wrap;
        margin: 40px -25px;
    }
    
    .double-ipad-column {
        width: 43%;
        padding: 0 25px;
        display: flex;
        position: relative;
    }
}


$white-color: #FFFFFF;
$black-color: #000000;
$gray-color: #989898;
$subsub-text-color: #4c4c4c;

//line height section
.line-height-1 {
    line-height: 1;
}

.line-height-2 {
    line-height: 1.2;
}

.line-height-3 {
    line-height: 1.4;
}

.line-height-4 {
    line-height: 1.6;
}

.line-height-5 {
    line-height: 1.8;
}

.line-height-6 {
    line-height: 2;
}


.bold-1 {
    font-weight: 300;
}

.bold-2 {
    font-weight: 400;
}

.bold-3 {
    font-weight: 500;
}
.bold-4 {
    font-weight: 600;
}
.bold-5 {
    font-weight: 700;
}
.bold-6 {
    font-weight: 800;
}
.bold-7 {
    font-weight: 900;
}

.sf-pro-family {
    font-family: "SF Pro Display";
}


//text section
.gradient-text {
    background: linear-gradient(to left, #3F5EFB, #FC466B);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.second-gradient-text {
    background:linear-gradient(45deg,#fff070 0%,#fff070 35%,#00c9d3 66%,#00c9d3 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.karla-font {
    font-family: "Karla";
}

.subtext-color {
    color: $gray-color;
}

.subsubtext-color {
    color: $subsub-text-color;
}

.skills-container {
    padding: 3rem 4rem 3rem 4rem;
}

.tools-padding {
    margin-top: 3rem;
}

@media (max-width: 575.98px) {
    //Manage Display Headers for Mobile Devices
        .display-1 {
        font-size: 3rem;
        // line-height: 1.2;
        }
    
        .display-2 {
            font-size: 2.75rem;
            // line-height: 1.2;
        }
    
        .display-3 {
            font-size: 2.45rem;
            // line-height: 1.2;
        }
    
        .display-4 {
            font-size: 1.75rem;
            // line-height: 1.0;
        }

        .skills-container {
            padding: 2rem 1rem 2rem 1.5rem;
        }

        .desktop-view {
            display: none!important;
        }
        
        .phone-view {
            display: block!important;
        }

        .single-ipad-extra {
            margin-top: 10px;
        }

        .ipad-landscape {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 4;
        }

    }


// other details

.section-height {
    height: 100vh;
}

  
.sticky {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
}


//colors
.purple-background {
    background-color: #9471f6;
}

.purple-font {
    color: #9471f6;
}


.dark-orange-background {
    background-color: #FA5400;
}

.dark-orange-font {
    color: #FA5400;
}

.orange-background {
    background-color: #ff8700;
}

.orange-font {
    color: #ff8700;
}

.green-background {
    background-color: #22b07d;
}

.green-font {
    color: #22b07d;
}

.pink-background {
    background-color: #b548c6;
}

.pink-font {
    color: #b548c6;
}

.light-blue-background {
    background-color: #32a7e2;
}

.light-blue-font {
    color: #32a7e2;
}

.dark-blue-background {
    background-color: #6969df;
}

.dark-blue-font {
    color: #6969df;
}

.yellow-background {
    background-color: #ffb648;
}

.yellow-font {
    color: #ffb648;
}

.red-background {
    background-color: #f67171;
}

.red-font {
    color: #f67171;
}

.bytedance-logo-container {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.7rem;
    font-size: 80%;
    background-color: white;
}

.bytedance-logo-container img {
    height: 2.5rem;
    width: 2.5rem;
}



