@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.c-single-ipad .ipad{
    max-width: 100%;
}

.ipad:last-child {
    margin-bottom: 0;
}

.ipad:first-child {
    margin-top: 0;
}

.ipad {
    display: block;
    position: relative;
    width: 90vw;
    width: var(--landscape-device-width);
    max-width: 936px;
    max-width: var(--landscape-max-device-width);
    margin: 40px 0;
    flex-shrink: 0;
    z-index: 0;
}


.ipad::before {
    content: "";
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    background-image: url('../../images/ipad-land-black.png');
    overflow: hidden!important;
}

.ipad::after {
    content: "";
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 150%;
    height: 150%;
    top: -25%;
    left: -25%;
    z-index: 1;
    background-position: 50%;
    pointer-events: none;
    background-image: url('../../images/ipad-shadow-land.png');
    overflow: hidden!important;
}

.ipad video, .ipad img {
    display: block;
    overflow: hidden!important;
    position: relative;
    z-index: 2;
    height: auto;
    width: 93.468%;
    margin: 0 auto;
    padding: 3.284% 0 3.321%;
}

.image-overlay {
    overflow: hidden!important;
    position: relative;
    z-index: 2;
    height: auto;
    width: 93.468%;
    margin: 0 auto;
    padding: 3.284% 0 3.321%;
}

.single-ipad-extra {
    margin-top: 30px;
    position: relative;
    z-index: 4;
}

.small-title-font {
   font-family: 'Shadows Into Light', cursive;
}