@font-face {font-family: "Freight Big Pro";
  src: url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.svg#Freight Big Pro") format("svg"); /* iOS 4.1- */
}

@import url(//db.onlinewebfonts.com/c/3cff9206b4c8d578245ef1aaeeaf9e84?family=SF+Pro+Display);

@font-face {font-family: "SFNS Display";
  src: url("http://db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.woff2") format("woff2");
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SFNS Display", 'Helvetica', sans-serif;
  font-weight: 700;
  font-style: normal;
  transform-origin: center center;
  background-color: #101010;
  overflow-x: hidden;
  color: white!important;
}